/app/src/main/java/com/peoit/android/online/pschool/entity/QueryNoallotInfo.java
/.idea
/jpush_lib/jpush_lib.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build

app/app.iml
chatUIDemo/chatUIDemo.iml

pSchool.iml
chatUIDemo/build

gradle

library

/.gradle
build

.idea/gradle.xml

