/.idea
/jpush_lib/jpush_lib.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build

app/app.iml
chatUIDemo/chatUIDemo.iml

pSchool.iml
chatUIDemo/build

gradle

library

build

.idea/gradle.xml

