<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.peoit.android.online.pschool" >

    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 写外部存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问wifi网络信息,wifi信息可用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取wifi的获取权限,wifi信息可用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 唤醒CPU -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 控制振动器 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 使用摄像头 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 直接拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 直接发送短信 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 读取手机通讯录 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 写入手机通讯录 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 闪光灯 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 开机启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 蓝牙账户 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 蓝牙 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 调用系统下载功能 -->
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- Required 自定义用来收发消息的相关权限 -->
    <permission
        android:name="com.peoit.android.online.pschool.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.peoit.android.online.pschool.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 手机必要要有照相机 且能自动对焦 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".ui.Base.PsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/wel_theme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".ui.activity.HomeActivity" />
        <activity android:name=".ui.activity.BasicInfoActivity" />
        <activity android:name=".ui.activity.BankCardActivity" />
        <activity android:name=".ui.activity.ChangePasswordActivity" />
        <activity
            android:name=".ui.activity.SchoolBindActivity"
            android:label="@string/title_activity_school_bind" />
        <activity
            android:name=".ui.activity.BankICActivity"
            android:label="@string/title_activity_bank_ic" />

        <!-- 聊天页面 -->
        <activity
            android:name="com.easemob.chatuidemo.activity.ChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <!-- 显示下载大图页面 -->
        <activity
            android:name="com.easemob.chatuidemo.activity.ShowBigImage"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1341341343214#tzjzwx" />
        <!-- android:value="easemob-demo#chatdemoui" /> -->


        <!-- 声明sdk所需的service -->
        <service
            android:name="com.easemob.chat.EMChatService"
            android:exported="true" />
        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.easemob.chat.EMMonitorReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activity.QueryGradeActivity"
            android:label="@string/title_activity_query_grade" />
        <activity
            android:name=".ui.activity.NewsActivity"
            android:label="@string/title_activity_news" />
        <activity
            android:name=".ui.activity.SchoolInfoActivity"
            android:label="@string/title_activity_school_info" />
        <activity
            android:name=".ui.activity.FeatureActivity"
            android:label="@string/title_activity_feature" />
        <activity
            android:name=".ui.activity.ParentsClassroomActivity"
            android:label="@string/title_activity_parentsclassroom" />
        <activity
            android:name=".ui.activity.HealthEducationActivity"
            android:label="@string/title_activity_healtheducation" />
        <activity
            android:name=".ui.activity.FamilyActivitiy"
            android:label="@string/title_activity_family" />
        <activity
            android:name=".ui.activity.ExpertsOnlineActivity"
            android:label="@string/title_activity_expertsonline" />
        <activity
            android:name=".ui.activity.ExpertsOnlineContentActivity"
            android:label="@string/title_activity_expertsonlinecontent" />

        <!-- 极光推送相关 -->


        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.peoit.android.online.pschool" />
            </intent-filter>
        </activity>

        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <!-- Required SDK 核心功能 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required SDK 核心功能 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.peoit.android.online.pschool" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter android:priority="1000" >
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!-- Required  显示通知栏 -->
                <category android:name="com.peoit.android.online.pschool" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- Required SDK 核心功能 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver android:name=".ui.receiver.JpushReceiver" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.peoit.android.online.pschool" />
            </intent-filter>
        </receiver>

        <!-- 机关推送 -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="f560fbd1b486faf2d34058c3" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="a70ca9b9e7977f508b25912b" />

        <!-- 极光推送相关 -->

        <activity
            android:name=".ui.activity.NoticeActivity"
            android:label="@string/title_activity_notice" />
        <activity
            android:name=".ui.activity.GradeInfoActivity"
            android:label="@string/title_activity_grade_info" >
        </activity>
        <activity
            android:name=".ui.activity.GradeByIdActivity"
            android:label="@string/title_activity_grade_by_id" >
        </activity>
        <activity
            android:name=".ui.activity.QAndAActivity"
            android:label="@string/title_activity_qand_a" >
        </activity>
        <activity
            android:name=".ui.activity.AddQActivity"
            android:label="@string/title_activity_add_q" >
        </activity>
        <activity
            android:name=".ui.activity.CheckInActivity"
            android:label="@string/title_activity_check_in" >
        </activity>
        <activity
            android:name=".ui.activity.PushActivity"
            android:label="@string/title_activity_push" >
        </activity>
        <activity
            android:name=".ui.activity.ApplyOnlineActivity"
            android:label="@string/title_activity_apply_online" >
        </activity>
        <activity
            android:name=".ui.activity.ShopOnlineActivity"
            android:label="@string/title_activity_shop_online" >
        </activity>
        <activity
            android:name=".ui.activity.NoticeSortActivity"
            android:label="@string/title_activity_notice_sort" >
        </activity>
        <activity
            android:name=".ui.activity.VideoActivity"
            android:label="@string/title_activity_video" >
        </activity>
        <activity
            android:name=".ui.activity.UploadVideoActivity"
            android:label="@string/title_activity_upload_video" >
        </activity>
        <activity
            android:name=".ui.activity.BannerActivity"
            android:label="@string/title_activity_banner" >
        </activity>
        <activity
            android:name=".ui.activity.CheckedInActivity"
            android:label="@string/title_activity_checked_in" >
        </activity>
    </application>

</manifest>
